header, footer, .noPrint{
display: none;
}
.corps{
  margin: 0px;
  padding: 0px;
  text-align: left;
  border-radius: 0px;
  -webkit-box-shadow: #666 0px 0px 0px;
  -moz-box-shadow: #666 0px 0px 0px;
  box-shadow: #666 0px 0px 0px;
  background: #FFFFFF;
}
