
/* - adaptation a la taille de l'écran - */

/* ---- header ----- */

.navbar .nav > li a {
  padding: 13px 20px 13px;
  }

.menuPrincipal{
	min-width: 550px;
}

/* ---- icons ---- */

.icon:after{
	content: "";
}
.boutonDiv .icon:after{
	content: attr(title);
}

/* ---- corp de page ----- */
.corps{
	margin-left: 0%;
	margin-right: 0%;
	min-width:630px;
}
