/* 
 * Style pour la carte du membre
 * 
 * Auteur : Hainaut Jérôme
 * le 10/05/2014
 */

.contenu .CM{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.CM{
	border: 2px solid #555555;
	border-radius: 5px;
	width: 350px;
	text-align: left;
}

.CM *{
	margin: 0px;
	padding: 0px;
}

.CM .CMclub{
	font-size: 20px;
	font-weight:bold;
	margin-left: 5px;
	text-decoration: underline;
}

.CM .CMlogoClub, .CM .CMlogoMembre{
	width: 60px;
}

.CM .CMlogoClub{
	margin: 5px 5px 0px 5px;
	float:right;
}

.CM .CMlogoClub img{
	float:right;
}
.CM .CMlogoMembre{
	display: inline-block;
	margin: 5px 5px 0px 5px;
}

.CM .CMinfoMb{
	display: inline-block;
	margin-top: 5px;
	vertical-align:top;
}

.CM .CMcodeBarreImg{
	margin: 0px 5px 5px 55px;
	height: 60px;
	display: inline-block;
}
.CM .CMcodeBarreImg img{
	width: 165px;
}

.CM .CMcodeBarre{
	display: inline-block;
	margin: 6px 0px 0px 5px;
	vertical-align:top;
}

.CM .CMlogoClub img, .CM .CMlogoMembre img{
	width: 60px;
	border: 1px solid black;
}
