body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Montserrat;
  color: rgb(255, 255, 255);
}

.container {
  position: absolute;
  top: 206px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 40.8333333333%;
  height: 358px;
  margin: 0 auto;
  border-radius: 31px;
  background-color: rgba(66, 66, 66, 0.3);
  box-shadow: 1px 2px 5px rgba(28, 183, 228, 0.92);
}

.container .connexion {
  display: block;
  float: left;
  width: 41.6326530612%;
  height: 39px;
  margin: 188px 0 0 28.9795918367%;
  border-radius: 11px;
  background-color: rgba(35, 220, 56, 0.74);
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.email {
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 41.0204081632%;
  height: 48px;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 9px;
  background-color: rgb(141, 141, 141);
  text-shadow: 0 2px 5px rgba(56, 198, 239, 0.5);
  font-size: 1.375em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.inscription {
  display: block;
  float: left;
  clear: both;
  width: 41.6326530612%;
  height: 39px;
  margin: 10px 0 0 28.9795918367%;
  border-radius: 11px;
  background-color: rgba(35, 178, 220, 0.74);
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.mdp {
  display: block;
  position: absolute;
  top: 121px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 41.0204081632%;
  height: 48px;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 9px;
  background-color: rgb(141, 141, 141);
  text-shadow: 0 2px 5px rgba(56, 198, 239, 0.5);
  font-size: 1.375em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.oubli {
  display: block;
  float: left;
  clear: both;
  width: 41.6326530612%;
  height: 39px;
  margin: 10px 0 0 28.9795918367%;
  border-radius: 11px;
  background-color: rgba(220, 35, 35, 0.74);
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}